platform='unknown'
unamestr=`uname`
if [[ "$unamestr" == 'Linux' ]]; then
   platform='linux'
elif [[ "$unamestr" == 'Darwin' ]]; then
   platform='mac'
fi
if [[ $platform == 'linux' ]]; then
	alias pac='pacaur -S --noconfirm --noedit'
	alias pacup='pacaur -Syu --noconfirm --noedit'
	alias pacr='pacaur -R'
	alias pacs='pacaur -s'
	alias ai='sudo apt install'
	alias ar='sudo apt remove'
	alias apu='sudo apt purge'
	alias au='sudo apt update'
	alias aup='sudo apt upgrade'
	alias auu='sudo apt update && sudo apt upgrade -y'
	alias acs='apt-cache search'
	alias autoremove='sudo apt autoremove'
elif [[ $platform == 'mac' ]]; then
	alias cdfede='cd /Volumes/Datos/Fede'
	alias lightsoff='pmset displaysleepnow'
fi

alias fixm='xrandr --output DVI-D-0 --auto --output HDMI-0 --auto --left-of DVI-D-0'
alias fix3m='xrandr --output DVI-D-0 --auto --output HDMI-0 --auto --left-of DVI-D-0 --output DP-1 --left-of HDMI-0'
alias offtv='xrandr --output DVI-D-0 --auto --output HDMI-0 --auto --left-of DVI-D-0 --output DP-1 --off'

alias cleandocker='docker rm -v (docker ps -a -q -f status=exited); docker rmi (docker images -f "dangling=true" -q)'
alias dc='docker-compose'
alias dcu='docker-compose up'
alias dcub='docker-compose up --build'
alias dcd='docker-compose down'
alias dcubfr='docker-compose up --build --force-recreate'
alias d='docker'
alias dsp='docker system prune -f'

alias gs="git status"
alias gl="git log --graph --decorate --pretty=oneline --abbrev-commit --all"
alias gco="git checkout"

alias py='python3'
alias ipy='ipython'
alias python='python3'
alias pip='pip3'
alias upgradeallpip="pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install -U"
alias rmpycache='find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf'
jupytervenv(){
	pip install ipykernel && ipython kernel install --user --name=$1
}

alias poke='bash ~/dotfiles/files/poke.txt'
alias preschedules='node ~/Projects/preschtocalnode/nightmare.js'

alias l='ls -lash'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias s='sudo'
alias shutdown='sudo shutdown -h now'
alias dev="cd ~/dev"

alias evim='nvim ~/.config/nvim/init.vim'
alias efish='nvim ~/.config/fish/config.fish'
alias ezsh='nvim ~/.zshrc'
alias ealiases='nvim ~/.aliases'
alias eenv='nvim ~/.envvariables'

alias eip="curl ifconfig.io"
alias lip="ifconfig | grep 192.168"
alias openports="netstat -anp tcp | grep -i 'listen'"

alias c="code ."

alias nvim=vim

loadpyenv(){
	export PATH="$PATH:$HOME/.pyenv/bin"
	eval "$(pyenv init -)"
}

source_env() {
  ZSH_DOTENV_FILE=$1
  if [[ -f $ZSH_DOTENV_FILE ]]; then
    # test .env syntax
    zsh -fn $ZSH_DOTENV_FILE || echo "dotenv: error when sourcing '$ZSH_DOTENV_FILE' file" >&2

    if [[ -o a ]]; then
      source $ZSH_DOTENV_FILE
    else
      set -a
      source $ZSH_DOTENV_FILE
      set +a
    fi
  fi
}
