alias python='python3'
alias pip='pip3'
alias l='ls -lash'
alias poke='bash ~/dotfiles/files/poke.txt'
alias lightsoff='pmset displaysleepnow'
alias preschedules='node ~/Projects/preschtocalnode/nightmare.js'
alias python='python3'
alias vi='nvim'
alias vim='nvim'
