alias l='ls -lash'
alias poke='bash ~/dotfiles/files/poke.txt'
alias lightsoff='pmset displaysleepnow'
alias preschedules='python2 ~/Projects/postpresch/preschtocal.py'
alias python='python3'
alias vi='nvim'
alias vim='nvim'
