[user]
	name = Federico Marcos
	email = marcosfede@gmail.com
[push]
	default = simple
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
